body {
    font-family: 'proxima soft', 'Roboto', 'Arial', 'Noto Sans KR', sans-serif;
    background-color: #eee;
    padding-top: 75px;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #4285f4;
    text-decoration: none;
    background-color: transparent;
}

h2 {
    line-height: 1.75;
}

label {
    color: #5a5a5a;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #4285f4;
    outline: 0;
    box-shadow: none;
}

.react-datepicker__input-container input {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    color: #212529;
    padding: 0.275rem 0.75rem;
    margin: 5px auto;
}

.react-datepicker__input-container {
    width: 250px;
}

.react-datepicker-wrapper {
    display: inline;
    width: 250px;
}
.sr-only {
    visibility: hidden;
}

.css-1xdhyk6 {
    margin-left: 10px;
}
.search-company-name {
    font-size: 13px;
    color: #5a5a5a;
}

.search-button {
    margin: 0 auto;
}

.dropdown {
    width: 40px;
    float: left;
}

.dropdown + div .input-group {
}

.dropdown button,
.dropdown button:focus,
.dropdown button:hover,
.show > .btn-primary.dropdown-toggle,
.btn-menu .btn,
.btn-menu .btn:focus {
    border-style: none;
    color: #4285f4;
    background-color: transparent;
    border-color: #4285f4;
    box-shadow: none;
}

.sub-title {
    font-size: 14px;
    color: #5a5a5a;
    letter-spacing: 0;
}

.card-body .card-heading {
    margin-bottom: 11px;
}

.card-heading {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.navbar button {
    position: relative;
}

.h-100 {
    border-radius: 1rem;
}

.row > * {
    margin-bottom: 25px;
}

.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-fluid h1 {
    font-size: 25px;
    display: inline-block;
}

.container-fluid {
    padding: 5px 10px;
}

.splash-container .card .card-header {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 0;
    color: #5a5a5a;
}

.carousel-body {
    overflow: auto;
    height: 580px;
}

.card-header {
    font-size: 25px;
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5384rem;
    margin: 0 1.538rem;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    background-color: transparent;
}

.barloader {
    float: center;
}

.splash-footer {
    text-align: center;
}

.splash-container {
    max-width: 401px;
    margin: 50px auto;
    padding: 10px;
}

.logOut {
    font-size: 14px;
    margin-left: 5px;
}

.form-group {
    margin-bottom: 1.538rem;
}

.btn-xl {
    padding: 0 12px;
    font-size: 1.1538rem;
    line-height: 43px;
    border-radius: 3px;
    font-weight: 500;
}

.btn-primary {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.login-submit .btn {
    width: 100%;
}

.form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
}

.validation {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.be-top-header {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

.card {
    margin-bottom: 25px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.clock {
    font-size: 14px;
}

.radialChart path {
    cursor: pointer;
}

.chartValue {
    width: 250px;
    font-size: 14px;
    position: relative;
    bottom: 150px;
    text-align: center;
    font-weight: bolder;
    white-space: pre-line;
}

.icon-button {
    background-color: rgba(255, 255, 255, 0);
    border-color: #eee;
    padding: 4px 0;
    width: 30px;
}

td,
th {
    min-width: 75px;
    text-align: left;
}
.radial .btn-group {
    margin-left: 10px;
}
.radial .btn-group .btn {
    font-size: 14px;
}

.btn-primary:focus {
    background-color: #4285f4;
    border-color: transparent;
    box-shadow: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}