body{
    font-family: 'Roboto','Arial','Noto Sans KR', sans-serif;
    background-color:#eee;
    padding-top: 75px;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #4285f4;
    text-decoration: none;
    background-color: transparent;
}

.container-fluid h1{
    font-size:25px;
    display: inline-block;
}

.container-fluid{
    padding:5px 10px;
}

.splash-container .card .card-header {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 0;
    color: #5a5a5a;
}

.card-header{
    font-size: 25px;
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5384rem;
    margin: 0 1.538rem;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    background-color: transparent;
}

.barloader{
    float:center;
}

.splash-footer{
    text-align: center;
}

.splash-container{
    max-width: 401px;
    min-height:1000px;
    margin: 50px auto;
    padding:10px;
}

.logOut{
    font-size: 14px;
    margin-left:10px;
}

.form-group {
    margin-bottom: 1.538rem;
}

.btn-xl {
    padding: 0 12px;
    font-size: 1.1538rem;
    line-height: 43px;
    border-radius: 3px;
    font-weight: 500;
}

.btn-primary {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.login-submit .btn{
    width: 100%;
}

.validation{
    color:#dc143c;
    font-size:14px;
    float: left;
}

.be-top-header {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
}

.widget {
    max-width:600px;
    background-color: #fff;
    padding: 20px;
    margin: 25px;
    border-radius: 3px;
    font-size:14px;
}

.clock{
    font-size:14px;
}

.radialChart-wrapper{
}

.radialChart{
}

.chartValue{
}

